/*Header/navbar*/

.logo > h1{
    font-weight: 900;
    font-size: 70px;
    text-shadow: 1px 1px black, -1px -1px black;
    color: #8000CE;
}
.logo > h3{
    letter-spacing: 2px;
}

nav > a{
color: grey;
margin: 10px;
transition: 0.5s;
}

.btn{
    width: 150px;
    height: 40px;
    border:none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #8B28C7 , #5533F6 );
}

/*Main*/

main > .left-side > h1, h3, .btn , .links{
    margin: 5px;
}

main > .left-side > h1{
    font-size: 50px;
}

main > .left-side > h3{
    font-size: 30px;
}

article > i{
    font-size: 300px;
}

article > .languages > i{
    font-size: 60px;
    margin: 10px;
}